
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@0;1&display=swap');



*{
max-width: 1440px;
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Mulish", sans-serif;
}
/* header section styling */
#head-container{
    width: 81%;
    height: 100px;
    margin: 0 auto 100px auto;
    display: flex;
}
#head-container .head-img-container{
    width: 50%;
    height: 100px;
    
}
#head-container .head-img-container .head-img{
    display: flex;
    gap: 10px;
    padding: 20px;
    align-items: center;
   
}
#head-container .head-img-container .head-img img{
    width: 48px;
height: 55px;
}
#head-container .head-img-container .head-img h1{
    color: #131318;
font-size: 2.2rem;
font-weight: 800;
}
#head-container .head-img-container .head-img .red-text{
    color: #FF5400;
}
#head-container .head-menu{
    width: 50%;
    height: 100px;
}
#head-container .head-menu .navber ul{
    display: flex;
    padding: 30px;
    margin-left: 0;
}
#head-container .head-menu ul{
    
}
#head-container .head-menu ul li{
list-style: none;
margin: 0 auto;

}
#head-container .head-menu  .coloring{
    color: #FF5400;
}
#head-container .head-menu ul li a{
text-decoration: none;
font-size:1.2rem ;
font-weight: 400;
color: #424247;
}
/* banner section styling */
#banner-container{
    width: 81%;
    height: 500px;
    margin: 0px auto 100px auto;
    border-radius: 15px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(Images/Group\ 13\ \(1\)\ \(1\).png) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    gap: 50px;
/* object-fit: cover; */
}
#banner-container h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
}
#banner-container p{
    width: 476px;
    color: #FFF;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
}
#banner-container .input-feild{
      display: inline-flex;
      padding: 16px;
      align-items: flex-start;
      gap: 24px;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.30);
}
#banner-container .input-feild select{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FFF;
padding: 10px 10px;
}
#banner-container .input-feild .find{
    color: #FFF;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    padding: 10px;
}

/* tours section styling */
#tours-container{
    width: 81%;
    margin: 0 auto 100px auto;
    display: flex;  
}
#tours-container .tours-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
#tours-container .tours-content p,li{
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 10px;
}
#tours-container .tours-content li{
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-left: 15px;
}

#tours-container .tours-content h2{
    color: #131318;
    font-weight: 800;
font-size: 3rem;
}
#tours-container .tours-content button{
    color: #FFF;
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
}
#tours-container.tours-img{

}
/* destination section styling */
#destination-container{
    width: 81%;
    margin: 0 auto 100px auto;
}
#destination-container h2{
    color: #131318;
text-align: center;
font-size: 2.5rem;
font-weight: 800;
}
#destination-container p{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 10px auto 20px auto;
}
#destination-container .grid{
    box-sizing: border-box;
    width: 100%;
    
display: grid;
grid-template-columns:repeat(12,1fr) ;
grid-template-rows: repeat(3,1fr);
gap: 10px;
margin-bottom: 100px;
}
#destination-container .grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
#destination-container .grid .Maldives{
    width: 100%;
grid-column: 1/span 6;
position: relative;
}
#destination-container .grid .Maldives>p{
    color: #FFF;
    font-size: 1.5rem;
    position: absolute;
    left: -10%;
    top:50%
}
#destination-container .grid .Indonesia{
    
grid-column: 7/span 12;
position: relative;
}
#destination-container .grid .Indonesia>p{
    color: #FFF;
    font-size: 1.5rem;
    position: absolute;
    left: -10%;
    top:50%
}
#destination-container .grid .Srilanka{
grid-column: 1 / span 4;
position: relative;
}
#destination-container .grid .Srilanka>p{
    color: #FFF;
    font-size: 1.5rem;
    position: absolute;
    left: -40%;
    top:50%
}
#destination-container .grid .America{
grid-column: 5 / span 6;
position: relative;
}
#destination-container .grid .America>p{
    color: #FFF;
    font-size: 1.5rem;
    position: absolute;
    left: -10%;
    top:50%
}
#destination-container .grid .Kashmir{
grid-column:  11/ span 8;
position: relative;
}
#destination-container .grid .Kashmir>p{
    color: #FFF;
    font-size: 1.5rem;
    position: absolute;
    left:  -85%;
    top: 45%;
}
#destination-container .grid .Bangladesh{
grid-column: 1 / span 5;
position: relative;
}
#destination-container .grid .Bangladesh>p{
    color: #FFF;
    font-size: 1.5rem;
    position: absolute;
    left: -20%;
    top:50% 
}
#destination-container .grid .Bandarban{
grid-column: 6 / span 13;
position: relative;
}
#destination-container .grid .Bandarban>p{
    color: #FFF;
    font-size: 1.5rem;
    position: absolute;
    left: -5%;
    top:50% 
}
/* choose section styling */
#card-container{
    width: 81%;
    margin: 0 auto 100px auto;
    
}
#card-container h1{
    color: #131318;
     text-align: center;
    font-size: 2.6rem;
    font-weight: 800;
}
#card-container p{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto;
}
#card-container .two-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
#card-container .hotel{
    text-align: left;
    width: 50%;
height: 284px;
border-radius: 16px;
background:  rgba(233, 68, 68, 0.05);
border: 3px solid  rgba(233, 68, 68, 0.05);
box-sizing: border-box;
padding-bottom: 15px;
}
#card-container .hotel img{
   margin-left: 10px;
}
#card-container .hotel h3{
    color: #131318;
font-size: 1.5rem;
font-weight: 800;
padding: 10px;
}
#card-container .hotel p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    padding: 10px;
}
#card-container .service{
    width: 48%;
height: 284px;
border-radius: 16px;
border: 3px solid rgba(41, 206, 246, 0.05);
background: rgba(41, 206, 246, 0.05);
box-sizing: border-box;
  
}
#card-container .service img{
    padding: 10px;
}
#card-container .service h3{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 10px;
}
#card-container .service p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin-left: 10px;
}
#card-container .guarantee{
    width: 48%;
height: 284px;
border-radius: 16px;
background: rgba(233, 68, 68, 0.05);
border: 3px solid  rgba(233, 68, 68, 0.05);
padding: 5px;
    margin: 20px auto;
    box-sizing: border-box;
}
#card-container .guarantee img{
    padding: 10px;
}
#card-container .guarantee h3{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 10px;
}
#card-container .guarantee p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin-left: 10px;
}

/* extra section styling */
#hotel{
    width: 81%;
    height: 1045px;
    margin: 0 auto 100px auto;
    background-color: #F2F2F2;
border-radius: 15px;
}
#hotel h1{
    color: #131318;
    text-align: center;
   font-size: 2.6rem;
   font-weight: 800;
   margin-bottom: 20px;
   padding-top: 10px;
}
#hotel p{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto;
}
#hotel .hotel-container{
    display: flex;
    box-sizing: border-box;
}
#hotel .hotel-container .hotel-text h2{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 10px;
    margin: 20px;
}
#hotel .hotel-container .hotel-text p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    padding: 10px;
    margin: 20px;
}
#hotel .hotel-container .hotel-text button{
    color: #FFF;
    width: 150px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    margin: 20px;
    }
    #hotel .hotel-container .hotel-img{
        width: 90%;
        padding: 20px;
        
    }
#hotel .hotel-container .hotel-img img{
    width: 100%;
    border-radius: 15px;
}
/* discount section styling */
#discount-container{
    width: 81%;
    height: 1700px;
    margin: 0 auto;
}
#discount-container h1{
    color: #131318;
text-align: center;
font-size: 2.5rem;
font-weight: 800;
}
#discount-container>p{
    width: 500px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 20px auto 25px auto;
}

#discount-container .sea-beach{
    width: 100%;
    height: 500px;
    background-image: url(Images/Group\ 39.png);
    position: relative;
    margin: 30px auto;
}
#discount-container .sea-beach .sea-beach-text {
    background: rgba(255, 255, 255, 0.80);
    width: 500px;
    height: 389px;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 20px;
    position: absolute;
    margin: 55px -55px 50px 600px;
    
    /* backdrop-filter: blur(2.5px); */
}
#discount-container .sea-beach .sea-beach-text i{
    color: #FF5400;
    margin: 10px;
    font-size: 1rem;
    margin: 40px auto 20px auto;
}
#discount-container .sea-beach .sea-beach-text i span {
    color: #131318 ;
}
#discount-container .sea-beach .sea-beach-text p{
    margin: 15px;
}
#discount-container .sea-beach .sea-beach-text h3{
    font-size: 1.2rem;
    color: #FF5400;
    font-weight: 800;
    margin: 15px;
}
#discount-container .sea-beach .sea-beach-text .book-btn{
    color: #FFF;
    width: 150px;
height: 52px;
border-radius: 8px;
background: #FF5400;
margin: 15px;
}
#discount-container .sea-beach-different{
    width: 100%;
    height: 500px;
    background-image: url(Images/Group\ 40.png);
    position: relative;
    margin: 30px auto;
}
#discount-container .sea-beach-different .sea-beach-text i{
    color: #FF5400;
    margin: 10px;
    font-size: 1rem;
    margin: 40px auto 20px auto;
}
#discount-container .sea-beach-different .sea-beach-text .book-btn{
    color: #FFF;
    width: 150px;
height: 52px;
border-radius: 8px;
background: #FF5400;
margin: 15px;
}
/* discount different section styling */
#discount-container .sea-beach-different .sea-beach-text {
    background: rgba(255, 255, 255, 0.80);
    width: 500px;
    height: 389px;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 20px;
    position: absolute;
    margin: 55px 600px 50px 55px;
}
#discount-container .sea-beach-differenth .sea-beach-text i{
    color: #FF5400;
    margin: 10px;
    font-size: 1rem;
    margin: 40px auto 20px auto;
}
#discount-container .sea-beach-different .sea-beach-text i span {
    color: #131318 ;
}
#discount-container .sea-beach-different .sea-beach-text p{
    margin: 15px;
}
#discount-container .sea-beach-different .sea-beach-text h3{
    font-size: 1.2rem;
    color: #FF5400;
    font-weight: 800;
    margin: 15px;
}
#discount-container .sea-beach-different .sea-beach-text .book-btn{
    width: 150px;
height: 52px;
border-radius: 8px;
background: #FF5400;
margin: 15px;
}
/* get-lost section styling */
#get-lost-container{
    width: 81%;
    height: 420px;
    margin: 100px auto 100px auto;
    display: flex;
    box-sizing: border-box;
}
#get-lost-container .get-lost-text{
padding: 10px;
}
#get-lost-container .get-lost-img{
    position: relative;
}
#get-lost-container .get-lost-img>p{
    position: absolute;
    width: 276px;
color: #FFF;
top: 40%;
left: 25%;
text-align: center;
font-size: 1.5rem;
font-weight: 700;
}
#get-lost-container .get-lost-text h1{
    width: 448px;
color: #131318;
font-size: 2.5rem;
font-weight: 800;
margin: 15px;
}
#get-lost-container .get-lost-text p{
    width: 532px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin: 15px;
}
#get-lost-container .get-lost-text li{
margin-left: 15px;
}
#get-lost-container .get-lost-text button{
    color: #FFF;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    margin: 15px;
}
/* newsletter section styling */
#newsletter-container{
    width: 81%;
    height: 420px;
    margin: 0 auto 100px auto;
    display: flex;
}
#newsletter-container .newsletter-text{
    width: 50%;
    padding: 20px;
    background: #FFF;
    border: 2px solid #FF5400;
    border-radius: 15px;
}
#newsletter-container .newsletter-text h1{
    color: #131318;
font-size: 1.5rem;
font-weight: 800;
margin: 15px;
}
#newsletter-container .newsletter-text p{
    width: 350px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin: 15px;
}
#newsletter-container .newsletter-text input{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin: 15px;
    padding-left: 10px;
}
#newsletter-container .newsletter-text>button{
    color: #FFF;
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    margin: 15px;
}
#newsletter-container .newsletter-img{
   position: relative;
   margin-left: 65px;
}
#newsletter-container .newsletter-img button{
    color: #FFF;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    position: absolute;
    margin: 250px 50px 10px -345px;
}
/* footer section styling */
#foot-container{
    width: 100%;
    height: 500px;
    margin: 0 auto 100px auto;
    background: rgba(19, 19, 24, 0.05);
    box-sizing: border-box;

}
#foot-container .first-part{
display: flex;
justify-content: center;
gap: 40px;

}
#foot-container .first-part img{
    margin-top: 60px;
    width: 5%;
}
#foot-container .first-part h1{
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 70px;
}
#foot-container .first-part h1 span{
    color: #FF5400;
    font-size: 2rem;
    font-weight: 800;
}
#foot-container > p{
    /* width: 769px; */
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 20px auto;
    box-sizing: border-box;
}
#foot-container .foot-icon{
    text-align: center;
    width: 400px;
    margin: 0 auto;
    height: 24px;
    color:#131318 ;
    padding: 50px;
    
}











@media screen and (max-width:600px) {
*{
    margin: 0 auto;
}
    #head-container{
        flex-direction: column;
        gap: 20px;
    
    }
    #head-container .head-img-container .head-img{
        width: 500px;
        margin-left: -90px;
    }
    #head-container .head-menu .navber ul{
        width: 100%;
        padding-left: 0;
        margin: 0 -90px;
    }
    #head-container .head-menu ul li{
        margin-left: 15px;  
    }
    #banner-container{
        box-sizing: border-box;
        width: 90%;
        height: 100%;
        padding: 5px;
        margin: 15px;
    }
    #banner-container h1{
        width: 80%;
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }
    #banner-container p{
        margin: 0;
        width: 70%;
        font-size: 1rem;
        padding: 0;
    }
    #banner-container .input-feild{
        flex-direction: column;
        width: 70%;
      align-items: center;
      margin-bottom: 0;
      padding: 0%;
      gap: 10px;
    }
    #tours-container{
        flex-direction: column;
        width: 100%;
    } 
    #tours-container .tours-content{
        margin: 0 auto;
    }
    
    #tours-container .tours-img img{
        margin-left: 20px;
        width: 90%;
        
    }
    
    #destination-container .grid{
        grid-template-columns: 1fr;
    }
    #destination-container p{
        width: 80%;
    }
    #destination-container .grid .Maldives{
        grid-column:1 / span 24 ;
        height: 300px;
    }
    #destination-container .grid .Maldives>p{
        margin-left: 80px;
        
    }
    #destination-container .grid .Indonesia{
        height: 300px;
        grid-column:1 / span 24 ;
    }
    #destination-container .grid .Indonesia>p{
        margin-left: 55px;
       
    }
    #destination-container .grid .Srilanka{
        grid-column:1 / span 24 ;
        height: 300px;
    }
    #destination-container .grid .Srilanka>p{
        margin-left: 155px;
    }
    #destination-container .grid .America{
        grid-column:1 / span 24 ;
        height: 300px;
    }
    #destination-container .grid .America>p{
        margin-left: 50px;
    }
    #destination-container .grid .Kashmir{
        grid-column:1 / span 24 ;
        width:100%;
        height: 300px;
    }
    #destination-container .grid .Kashmir>p{
        margin-top: -20px;
        margin-left: 350px;
    }
    #destination-container .grid .Bangladesh{
        grid-column:1 / span 24 ;
        height: 300px;
    }
    #destination-container .grid .Bangladesh>p{
        margin-left: 90px;
    }
    #destination-container .grid .Bandarban{
        grid-column:1 / span 24 ;
        height: 300px;
    }
    #destination-container .grid .Bandarban>p{
        margin-left: 70px;
        margin-top: -20px;
    }
/* card section responsive */
    #card-container p{
        width: 80%;   
    }
    #card-container .two-card-container{
        flex-direction: column;
        gap: 20px;
    }
    #card-container .two-card-container .hotel{
        width: 100%;
        height: 300px;

    }
    #card-container .two-card-container .hotel p{
    padding: 0;
        margin-left: 10px;
    }
    #card-container .two-card-container .service{
        width: 100%;
        height: 310px;
    }  
    #card-container .guarantee{
        width: 100%;
        height: 310px;
        margin-bottom: 50px;
    }
    
    #hotel{
        width: 100%;
        height:1800px ;
        margin-top:50px ;
    }
    #hotel .hotel-container{
        flex-direction:column-reverse;
        margin-left: 20px;
    }
    #hotel h1,{
        width: 80%;
        text-align: left;
    }
    #hotel p{
        width: 80%;
        text-align: left; 
    }
    #hotel .middle{
        flex-direction:column;
    }

    #hotel .hotel-container .hotel-text h2{
        
    }
    #hotel .hotel-container .hotel-text p{
width: 90%;
    }
    /* discount section responsive */
    #discount-container{
        width: 100%;
        height: 2000px;
        display: flex;
        flex-direction: column;
        /* position: relative; */
    }
    #discount-container p{
width: 80%;
    }
    #discount-container .sea-beach{
        width: 90%;
        height: 500px;
        position: relative;
       border-radius: 15px;
        margin:auto 10px 100px 30px ;
    }
    
    #discount-container .sea-beach .sea-beach-text{
       width: 60%;
        height: 400px;
        position: absolute;
       margin: 80px ;
       padding: 0;
    }
    #discount-container .sea-beach .sea-beach-text i,h2{
      margin: 10px;

    }
    
    #discount-container .sea-beach-different{
        width: 90%;
        height: 500px;
        border-radius: 15px;
    }
    #discount-container .sea-beach-different .sea-beach-text{
        width: 60%;
        height: 400px;
        position: absolute;
       margin: 80px ;
       padding: 0;
    }
    #discount-container .sea-beach-different .sea-beach-text i,h2{
         margin: 10px;
    }
   /* get lost section responsive */
    #get-lost-container{
        width: 100%;
        height: 700px;
        margin-left: 20px;
        flex-direction: column;
    }
    #get-lost-container .get-lost-text p{
width: 90%;
    }
    #get-lost-container .get-lost-img img{
        width: 90%;
        margin: 0 auto;
    }
    /* newsletter responsive */
    
    #newsletter-container{
        width: 100%;
        flex-direction: column;
        height: 700px;
    }
    #newsletter-container .newsletter-text{
width: 90%;
margin: 0 auto 20px auto;

    }
    #newsletter-container .newsletter-img img{
width: 90%;
left: -35px;
position: relative;
    }
    #newsletter-container .newsletter-text h1{
        text-align: left;
    }
    #newsletter-container .newsletter-text p{
        width: 70%;
        text-align: left;
    }
    #newsletter-container .newsletter-text input{
        width: 90%;
        height: 40px;
        padding: 10px;
    }
    #newsletter-container .newsletter-text>button{
        width: 90%;
        height: 40px;
        
    }
    #newsletter-container .newsletter-img{
       width: 100%;
    }
    #newsletter-container .newsletter-img button{
        width: 50%;
        height: 60px;
        position: absolute;
        margin: 150px 10px -20px -220px;
    }
    #foot-container{
        width: 100%;
        height: 400px;
    }
    #foot-container > p{
        width: 90%;
    }

}